[user]
	name = unexist
	email = christoph@unexist.dev
[alias]
	st = status
	ci = commit -v
	revert = reset --hard --
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
[core]
	autocrlf = input
