/* Colors */
$primary: #506E01;
$secondary: #fff;
$highlight: #90C616;

$text_light: #fff;
$text_dark: #333;
$headline: $text_dark;

/* Body */
$body_bg: $primary;

/* Tabs */
$tabs_bg: $primary;
$tabs_text: $text_light;
$tabs_border: #999;
$tabs_active_bg: #fff;
$tabs_active_text: #000;

/* Context menu */
$context_bg: $primary;
$context_text: $text_light;
$context_border: #fff;

/* Page */
$page_bg: $tabs_active_bg;

/* File lists */
$file_bg: #fff;
$file_text: #666;
$file_border: $primary;

/* Sync log */
$log_bg: $primary;
$log_text: $text_light;
$log_border: $primary;

/* Dialogs */
$dialog_bg: #fff;
$dialog_text: #333;
$dialog_border: #eee;

/* Inputs */
$input_bg: $primary;
$input_text: $text_light;
$input_rgb: $primary;

$button_bg: #634056;
$button_text: $text_light;
$button_border: #4e3043;

$checkbox_bg: $primary;
$checkbox_text: $text_light;
$checkbox_gradient: "top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%";
$checkbox_slider: #f9f9f9;

/* Spinner */
$spinner_bg: $primary;

@import "default"
